* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #f3f4f6; */
  padding: 15px;
}

.login-box {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  border-bottom: 2px solid #eaeaea;
}

.form-tabs a {
  padding-bottom: 10px;
  font-size: 16px;
}

.active-tab {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.inactive-tab {
  color: #888;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "FontAwesome", sans-serif;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.show-password-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s;
}

.show-password-icon:hover {
  color: #007bff;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

.chbox {
  width: 20px;
  margin-right: 5px;
}

.remember-password {
  display: flex;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-message {
  text-align: center;
  font-size: 18px;
  color: #ff3333;
}

.note {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f8ff;
  border: 1px solid #d0e0f0;
  border-radius: 5px;
  color: #333;
}

.note strong {
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .login-box {
    width: 100%;
    max-width: 300px;
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .input {
    padding: 10px;
  }

  .form-tabs a {
    font-size: 14px;
  }

  .login-btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .login-box {
    padding: 10px;
    max-width: 90%;
  }

  .form-tabs a {
    font-size: 12px;
  }

  .login-btn {
    font-size: 12px;
    padding: 10px;
  }
}
